.container {
  width: 350px;
  height: 350px;
  border: 2px solid red;
  position: relative;
}

.snakeBox {
  position: absolute;
  background-color: green;
  width: 10px;
  height: 10px;
}

.foodBox {
  position: absolute;
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.score {
  position: absolute;
  left: 10px;
  top: 10px;
  color: blue;
}
